* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(203, 60, 60);
}
.cajitas-main{
    margin: 15px;
}
.cajita{
    display: inline-block;
    position: relative;
    width: 250px;
    height: 350px;
    margin-right: 10px;
    background-color: goldenrod;
    border-radius: 15px;
    text-align: center;
    padding: 30px 10px 10px 10px;
    overflow: hidden;
}
p{
    position: relative;
    z-index: 1;
    color: #393737;
}
.boton-custom{
    margin-top: 40px;
    width: 120px;
    height: 30px;
    border-radius: 15px;
    color: cadetblue;
    border: 0;
}
.colormorado{
background-color: purple;
}
.colorazul{
    background-color: rgb(53, 53, 120);
}
.colorverde{
    background-color: rgb(45, 134, 45);
}

.cajita::before{
    border-radius: 50%;
    content: '';
    width: 250px;
    height: 250px;
    background-color: rgb(227, 138, 22);
    left: 0;
    top: -124px;
    position: absolute;
    z-index: 0;
}
.cajita.morado::before{
    background-color: purple;
}
.cajita.verde::before{
    background-color: rgb(45, 134, 45);
}
.cajita.azul::before{
    background-color: rgb(53, 53, 120);
}
.cajita-titulo{
    margin-bottom: 65px;
    position: relative;
    z-index: 1;
    color: white;
}