* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", serif;
}

.header {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    border-bottom: 1px;
    padding: 20px;
}
.topnavbar {
    display: flex;
    justify-content: space-between;
    max-width: 85%;
    margin: 0 auto;
}

.topnavbar .nav {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 40px;
}

.topnavbar .nav .nav-item .item-image {
    max-width: 50px;
}

.topnavbar .nav .nav-item a {
    text-decoration: none;
    font-weight: 900;
    color: black;
}

.topnavbar .nav .nav-item a:hover {
    color: green;
}

.cookie-banner {
    align-items: baseline;
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 0px;
    position: fixed;
    width: 100%;
    z-index: 999;
    bottom: 0px;
}
.classstylecookie .cookie-banner {
    flex: 1 0 300px;
    margin: 30px;
}

.banner-text-container {
    flex-grow: 1;
    flex: 1 0 300px;
    margin: 30px;
}

.cookie-banner .banner-text-bold {
    font-weight: bold;
}

.cookie-banner .banner-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cookie-banner .banner-button-container .banner-button {
    background: none rgb(0, 0, 0);
    border: 1px solid;
    border-radius: 50px;
    box-shadow: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    flex: 0 0 auto;
    padding: 7px 16px;
    margin: 15px;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    transition: 0.2s;
    font-size: 1rem;
}

.invisible {
    display: none;
}

/*A partir de aquí viene la tarjeta uno*/

.tarjetauno {
    display: flex;
    flex-direction: row;
    background-color: #1e3932;
    max-width: 1400px;
    height: 467px;
    margin: 0 auto;
}

.tarjetauno__div-img {
}

.tarjetauno__img {
    height: 100%;
}

.tarjetauno__div-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 554px;
}

.ptarjetauno__title {
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    letter-spacing: -0.16px;
    line-height: 42px;
}

.ptarjetauno__texto {
    font-weight: 400;
    font-size: 19px;
    color: #fff;
    letter-spacing: -0.16px;
    line-height: 33.264px;
    margin-top: 24px;
}

/* Esta es la tarjeta dos*/
.tarjetados {
    display: flex;
    flex-direction: row-reverse;
    background-color: #0044b4;
    max-width: 1400px;
    height: 467px;
    margin: 38px auto 0;
}

.tarjetados__div-img {
}

.tarjetados__img {
    height: 100%;
}

.tarjetados__div-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 554px;
}

.ptarjetados__title {
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    letter-spacing: -0.16px;
    line-height: 42px;
}

.ptarjetados__texto {
    font-weight: 400;
    font-size: 19px;
    color: #fff;
    letter-spacing: -0.16px;
    line-height: 33.264px;
    margin-top: 24px;
}

/* aquí va el contenedor tres*/

.tarjetatres {
    display: flex;
    flex-direction: row;
    background-color: #d40434;
    max-width: 1400px;
    height: 467px;
    margin: 38px auto 0;
}

.tarjetatres__div-img {
}

.tarjetatres__img {
    height: 100%;
}

.tarjetatres__div-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 554px;
}

.ptarjetatres__title {
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    letter-spacing: -0.16px;
    line-height: 42px;
}

.ptarjetatres__texto {
    font-weight: 400;
    font-size: 19px;
    color: #fff;
    letter-spacing: -0.16px;
    line-height: 33.264px;
    margin-top: 24px;
}

/* aquí va el contenedor cuatro*/

.tarjetacuatro {
    display: flex;
    flex-direction: row-reverse;
    background-color: #1e3932;
    max-width: 1400px;
    height: 467px;
    margin: 38px auto 0;
}

.tarjetacuatro__div-img {
}

.tarjetacuatro__img {
    height: 100%;
}

.tarjetacuatro__div-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 554px;
}

.ptarjetacuatro__title {
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    letter-spacing: -0.16px;
    line-height: 42px;
}

.ptarjetacuatro__texto {
    font-weight: 400;
    font-size: 19px;
    color: #fff;
    letter-spacing: -0.16px;
    line-height: 33.264px;
    margin-top: 24px;
}

/* aquí va la imagen 5*/

.tarjetacinco {
    display: flex;
    flex-direction: row;
    background-color: #d40434;
    max-width: 1400px;
    height: 467px;
    margin: 38px auto 0;
}

.tarjetacinco__div-img {
}

.tarjetacinco__img {
    height: 100%;
}

.tarjetacinco__div-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 554px;
}

.ptarjetacinco__title {
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    letter-spacing: -0.16px;
    line-height: 42px;
}

.ptarjetacinco__texto {
    font-weight: 400;
    font-size: 19px;
    color: #fff;
    letter-spacing: -0.16px;
    line-height: 33.264px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.tarjetacinco__p-boton {
}

.tarjetacinco__boton {
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
    border: white 1px solid;
    height: 16px;
    width: 62px;
    padding: 7px 16px;
}

/* Tarjetas dobles*/

.tarjetasFooter {
    max-width: 1400px;
    height: 788px;
    margin: 38px auto 0;
    display: flex;
    flex-direction: row;
    column-gap: 38px;
}

.tarjetasFooter__tarjeta-A {
    background-color: #f6bfd9;
    height: 788px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-A__div-imagen {
}

.tarjeta-A__imagen {
    width: 100%;
}

.tarjeta-A__footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tarjeta-A__texto {
    color: rgb(213, 0, 50);
    font-size: 19px;
    font-weight: 400;
    letter-spacing: -0.16px;
    line-height: 33.264px;
}


.tarjeta-A__boton {
    text-decoration: none;
    color: rgb(213, 0, 50);
    border-radius: 50px;
    border: rgb(213, 0, 50) 1px solid;
    height: 16px;
    width: 62px;
    padding: 7px 16px;
}

.tarjetasFooter__tarjeta-B {
    background-color: #98cde4;
    height: 788px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-B__div-imagen {
}

.tarjeta-B__imagen {
    width: 100%;
}

.tarjeta-B__footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tarjeta-B__texto {
    color: rgb(0, 59, 73);
    font-size: 19px;
    font-weight: 400;
    letter-spacing: -0.16px;
    line-height: 33.264px;
}

.tarjeta-B__p-boton {
}

.tarjeta-B__boton {
    text-decoration: none;
    color: rgb(0, 59, 73);
    border-radius: 50px;
    border: rgb(0, 59, 73) 1px solid;
    height: 16px;
    width: 62px;
    padding: 7px 16px;
}

.footer {
    margin-top: 38px;
    box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.1);
}

.footer__wrapper {
    padding-top: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer__SN {
}

.footer__SN-li1 {
    list-style: none;
    color: rgba(0, 0, 0, 0.87);
    font-size: 19px;
    font-weight: 400;
    letter-spacing: -0.16px;
    line-height: 28.512px;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.footer__SN-li2 {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.16px;
    line-height: 24px;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.footer__SN-li2 a {
    text-decoration: none;
    color: rgb(119, 119, 119);
}

.footer__SN-li2 a:hover {
    color: rgba(0, 0, 0, 0.87);
}

.footer__AC {
}

.footer__AC-li1 {
    list-style: none;
    color: rgba(0, 0, 0, 0.87);
    font-size: 19px;
    font-weight: 400;
    letter-spacing: -0.16px;
    line-height: 28.512px;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.footer__AC-li2 {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.16px;
    line-height: 24px;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
.footer__AC-li2 a {
    text-decoration: none;
    color: rgb(119, 119, 119);
}

.footer__AC-li2 a:hover {
    color: rgba(0, 0, 0, 0.87);
}

.footer__social {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 250px;
    margin: 20px auto;
}

.footer__social-facebook {
    height: 34px;
    width: 34px;
}

.footer__social-Ig {
    height: 34px;
    width: 34px;
}

.footer__social-X {
    height: 34px;
    width: 34px;
}

.footer__social-YT {
    height: 34px;
    width: 34px;
}

.footer__secundario {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer__secundario-li {
    padding: 10px 15px;
    border-right: rgb(153, 153, 153) 1px solid;
}

.footer__secundario-li a{
    text-decoration: none;
    color: rgb(153, 153, 153);
}

.footer__secundario-li:last-child {
    border: none;
}

.footer__copy {
    color: #999;
    display: block;
    font-size: .875rem;
    font-weight: 300;
    text-align: center;
}