* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size: 100px;
    padding: 50px;
    border:2px solid black;
}
h2, h3, h4{
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 30px;
    font-size: 8rem;
    border: 2px solid black;
}
.main-content h1.texto-custom{
    color: darkkhaki;
}
.texto-custom{
    text-align: center;
    color: red;
    background-color: blanchedalmond;
    font-style: italic;
}
/*Un class es mas espeifica que un h1 por ejemplo, y eso hace que sea leido*/
.texto-custom-dos{
    text-align: right;
    color: green;
    background-color: azure;
    font-style: oblique;
}
h1{
    border-color: blueviolet;
}
.espacio-abajo-custom{
    margin:50px 30px;
    padding: 0 0 20px 2rem;
}

#identificador-parrafo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.list-item{
    margin-left: 30px;
}
ul .list-item{
    background-color: antiquewhite;
    border: 2px solid black
}

ul .list-item a{
    text-decoration: none;
    color: darkblue;
}

ul .nav-item a:hover{
    color: goldenrod;
    font-size: x-large;
}

ul .nav-item a icon:hover{
    color: goldenrod;
    font-size: x-large;
}

.caja-ejemplo{
    width: 400px;
    border: 3px solid orange;
    background-color: olivedrab;
}
/*con esta cosa de navegador está la cosa de arriba, donde me aparecen las 
otras cosas, aquí el sticky y el 0 me dicen que va a quedarse
mientras me desplazo y se va a quedar arriba*/
.navegador{
    height: 50px;
    background-color: deeppink;
    position: sticky;
    top: 0;
}
.nav-item{
    display: inline-block;
    list-style: none;
}
.nav-item a{
    text-decoration: none;
    color: darkslateblue;
}
.navegador-ul{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 30px;
    /* si se aplica un flez direction, low reverse, se va a poner
    del lado derecho en vez del izquierdo, y hay que ponerle 
    un padding right para que no este todo pegado, y haya
    separación o un margin tmb*/
}
