*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Roboto", sans-serif;
}
#tarjetauno{
    background-color: #1e3932;
    position: relative;

}
#tarjetauno .contenedorimagen{
    width: 50%;
}
#tarjetauno .contenedorimagen .imagenizq{
    max-width: 100%;
}
.contenedortexto{
    position:absolute;
    color: white;
    text-align: center;
    width: 365px;
}
.contenedorint{
    display: inline-block;
}